[Unit]
Description=Boot Display
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/debian/boot_display.py

[Install]
WantedBy=multi-user.target